{% extends 'base.html.twig' %}

{% block title %}Edit Sprint{% endblock %}

{% block body %}
    <h1>Edit Sprint</h1>

    {{ include('sprint/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sprint_index') }}">back to list</a>

    {{ include('sprint/_delete_form.html.twig') }}
{% endblock %}
