{% extends 'base.html.twig' %}

{% block title %}New Sprint Story{% endblock %}

{% block body %}
  <h1>Create new Sprint Story</h1>
  <h3>Number of Story points: {{ sprint_story.getSprint().getNumberOfStoryPoints() }}</h3>
  {{ include('sprint/_form.html.twig') }}

  <a href="{{ path('app_sprint_show', {'id': sprint_story.getSprint().getId()}) }}">back to sprint</a>
{% endblock %}
